@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<CRM.Domain.Venta>


<div class="row mt-5 mb-5">
    <h2>Compras Realizadas</h2>
    <div class="mt-5 col-12">
        @foreach (var venta in Model.ToList().OrderBy(x => x.Fecha))
        {
<div class="card mb-4 shadow-sm border-dark col-5">
    <h5 class="card-header">Id de la compra: @venta.Id</h5>
    <div class="card-body">
        <p class="card-text">Fecha: @venta.Fecha.ToString("MM/dd/yyyy")</p>
        <h5 class="font-weight-bold">Importe: $@venta.Importe</h5>
        <div class="d-flex" style="float: right;">
            <div class="btn-group">
                <a class="btn btn-success font-weight-bold " style="color:white" asp-route="Venta" asp-route-id="@venta.Id">Ver Venta</a>
            </div>
        </div>
    </div>
</div>}
    </div>
</div>

