@{
    ViewData["Title"] = "Home Page";
}
<div class="row text-center justify-content-center mt-0" >
    <img class="img-fluid img-responsive" style="width: 50%; height:50%" 
         src="https://static.vecteezy.com/system/resources/previews/007/223/339/original/crm-letter-logo-design-on-white-background-crm-creative-initials-letter-logo-concept-crm-letter-design-vector.jpg" />
</div>
